/3rdparty/*
!/3rdparty/README.md
!/3rdparty/*.cmake
!/3rdparty/CMakeLists.txt

/2ndparty/

### KDevelop ###
*.kdev4
.kdev4/

### Visual Studio ###
.vs/
/out/
/CMakeSettings.json

### VSCode
.vscode/
/build/

