!.gitignore

.settings/
.vs/
.vscode/
.build*/
build*/
.kdev4/
.idea/
.project
.cproject
doxygen/
nbproject/
src/tmp/

.coveralls.yml
#Makefile
#Makefile.*
#makefile
#makefile.*
*.kdev4
*.make
*.mk
*.exe
*.err
*.lk*
*.sym
*.swp
~*
*~
*.bak
#*.map
*.sdf
*.slo
*.lo
*.pdb
*.idb
*.o
*.obj
*.so
*.dll
*.so.*
*.dylib
*.lib
*.lai
*.la
*.a
*.exe
*.out
*.app
*.log
moc_*.cpp
qrc_*.cpp
.sconsign.dblite
Doxyget.err
CMakeSettings.json
